@model CRMS.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRB Login</title>

    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="loginDiv">
            <div class="loginBox">
                <div class="loginLogo">
                    <img src="~/Content/image/tms-logo.png" alt="CRB Logo">
                </div>

                <div class="formSection">
                    <div class="inputBox">
                        <label>Username</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMsg" })

                    </div>
                    <div class="inputBox">
                        <label>Password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "errorMsg" })
                    </div>
                    <div class="form-group">
                        @if (TempData["Message"] != null)
                        {
                            <span style="color:red;">
                                @TempData["Message"]
                            </span>
                        }
                    </div>
                    <div class="inputBox forgotPsw">
                        <a href="#">Forgot Password</a>
                    </div>
                    <div class="inputBox btnInput">
                        <button class="loginBtn" id="loginBtn" type="submit">Login</button>                       
                    </div>
                </div>

            </div>
        </div>

    }
</body>
</html>