@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title></title>
    
</head>
<body>
    <div class="mainDiv">
        <!-- Header -->
        <!-- END Header -->
        <!-- Section -->
        <div class="section">
            <div class="">
                <div class="topTitleHead pb20">
                    <h1> Systems</h1>
                </div>
                <label id="alertid" class="bg-success text-white"></label>
                <!----- Tabs ---->
                <div class="tab">
                    <ul class="align-center" id="my-lists">
                        @*<li> <a class="tablinks active" onclick="openSystems(event, 'UserManagement')"> User Management </a></li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'RoleManagement')"> Role Management</a> </li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'CommonLookUp')"> CommonLookUp</a> </li>*@
                        @*<li> <a class="tablinks" onclick="openSystems(event, 'Settings')">Settings </a> </li>*@
                        @*<li> <a class="tablinks" onclick="openSystems(event, 'Activitylogs')">Activity logs </a> </li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'Errorlogs')">Error logs </a> </li>*@
                    </ul>
                </div>

                <div class="tabContentDetails" id="tabContentDetails">
                    @*<div id="UserManagement" class="tabcontent" style="display: block" data-url='@Url.Action("Index","UserManage")'>*@
                    <div id="User" class="tabcontent">
                         @*@Html.Partial("~/Views/UserManage/_ListPartialView.cshtml")*@
                    </div>
                    <!--<div id="Role" class="tabcontent" data-url='@Url.Action("Index","Role")'>-->
                        @* @Html.Partial("~/Views/Role/_RoleListLayout.cshtml")*@
                    <!--</div>-->

                    <div id="CommonLookUp" class="tabcontent" data-url='@Url.Action("Index","CommonLookUp")'>
                        @* @Html.Partial("~/Views/CommonLookUp/_CommonListLayout.cshtml")*@
                    </div>

                    
                </div>
                <!----- END Tabs ---->
            </div>
        </div>
        <!-- END Section -->
    </div>
</body>

</html>



<script>
    function loadTab(SystemsName) {
        if (SystemsName == "User") {
            url = "@Url.Action("Index","UserManage")"
            $("#User").load(url)
        }
        if (SystemsName == "Role") {
            url = "@Url.Action("Index","Role")"
            $("#Role").load(url)
        }
        if (SystemsName == "CommonLookUp") {
            url = "@Url.Action("Index","CommonLookUp")"
            $("#CommonLookUp").load(url)
        }

    }
    function openSystems(evt, SystemsName) {
        isUserLoaded = false;
        loadTab(SystemsName);
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(SystemsName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function ()
    {
        $.ajax({
            url: '@Url.Action("GetFormLists","FormMst")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                var result = data.filter(x => x.ParentForm == 'System');
                $.each(result, function (index, item) {
                    $("<li><a class='tablinks' onclick='openSystems(event,\"" + item.Name + "\"\)'\'>" + item.Name + "</a></li>").appendTo("#my-lists");
                });
                $.each(result, function (index, item) {
                    $("<div id='Role' class='tabcontent' data-url='@Url.Action("Index","Role")'></div>").appendTo("#tabContentDetails");
                    if (item.Name == "Role") {

                    loadTab("Role");
                    }
                });
               
                afterLoad();
            }
        });

    });
    function afterLoad() {
        var activeTabId = parseInt('@ViewBag.activeTabId');
        var tabcontent = document.getElementsByClassName("tabcontent");
        var tablinks = document.getElementsByClassName("tablinks");
        var isUserLoaded = true;

       if (activeTabId == 0)
        {
            //loadTab("User");
            tablinks[0].className = 'tablinks active';
            //tabcontent[0].style.display = "block";
       }
       else if (window.performance.getEntriesByType("navigation")[0].type == 'reload' && activeTabId != 0) {

            @*url = "@Url.Action("Index","Home")"
           $("#UserManagement").load(url);*@
           location.href= "@Url.Action("Index","Home")"
            /*loadTab("UserManagement");*/
            tablinks[0].className = 'tablinks active';
            tabcontent[0].style.display = "block";
        }
        else
        {
            isUserLoaded = false;
            tablinks[0].className = 'tablinks';
            tabcontent[0].style.display = "none";
            tabcontent[activeTabId].style.display = "block";
            if (activeTabId == 1) {
                loadTab("Role")
            }
            if (activeTabId == 2) {
                loadTab("CommonLookUp")
            }
            tablinks[activeTabId].className = 'tablinks active';
        }
        if (isUserLoaded || activeTabId == null) {
                activeTabId = 0;
                url = "@Url.Action("Index","UserManage")"
            $("#User").load(url)
                //location.href = "/Acccount/Dashboard?activeTabId=0";
        }
    }

</script>


<!--<script>
    function openSystems(evt, SystemsName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(SystemsName).style.display = "block";
        evt.currentTarget.className += " active";-->
@* if (SystemsName == "UserManagement") {
        var url = $('#UserManagement').data('url');
        $.get(url, function (data) {
            $("#UserManagement").html(data).load($(this).data('url'));
        });
    }*@
@* if (SystemsName == "RoleManagement") {
        var url = $('#RoleManagement').data('url');
        $.get(url, function (data) {
            $("#RoleManagement").html(data).load($(this).data('url'));
        });
    }
    else if (SystemsName == "CommonLookUp") {
        var url = $('#CommonLookUp').data('url');
        $.get(url, function (data) {
            $("#CommonLookUp").html(data).load($(this).data('url'));
        });
    }*@
@*else {
        var url = $('#UserManagement').data('url');
        $.get(url, function (data) {
            $("#UserManagement").html(data).load($(this).data('url'));
        });
    }*@


@*if (SystemsName = 'RoleManagement') {
        var url = $('#RoleManagement').data('url');
        $.get(url, function (data) {
            $("#RoleManagement").html(data).load($(this).data('url'));
        });
    }*@
<!--switch (SystemsName) {

            //case 'UserManagement':
            //    var url = $('#UserManagement').data('url');
            //    $.get(url, function (data) {
            //        $("#UserManagement").html(data).load($(this).data('url'));
            //    });
            //    break;

            case 'RoleManagement':
                var url = $('#RoleManagement').data('url');
                $.get(url, function (data) {
                    $("#RoleManagement").html(data).load($(this).data('url'));
                });
                break;

            case 'CommonLookUp':
                var url = $('#CommonLookUp').data('url');
                $.get(url, function (data) {
                    $("#CommonLookUp").html(data).load($(this).data('url'));
                });
                break;
            default:
        }

    }

    $(document).ready(function ()
    {
        var activeTabId = parseInt('@ViewBag.activeTabId');
        var tabcontent = document.getElementsByClassName("tabcontent");
        var tablinks = document.getElementsByClassName("tablinks");
        if (activeTabId == 0)
        {
            tablinks[0].className = 'tablinks active';
            tabcontent[0].style.display = "block";
        }
        else
        {
            tablinks[0].className = 'tablinks';
            tabcontent[0].style.display = "none";
            tablinks[activeTabId].className = 'tablinks active';
            tabcontent[activeTabId].style.display = "block";
        }
        if (activeTabId == 1) {
            var url = $('#RoleManagement').data('url');
            $.get(url, function (data) {
                $("#RoleManagement").html(data).load($(this).data('url'));
            });
        }
        if (activeTabId == 2) {
            var url = $('#CommonLookUp').data('url');
            $.get(url, function (data) {
                $("#CommonLookUp").html(data).load($(this).data('url'));
            });
        }
    });

</script>-->
