@model IEnumerable<CRMS.Core.Models.CommonLookUp>

@{
    ViewBag.Title = "Index";
}

@*<h2>Common LookUp</h2>*@

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"></script>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />*@

<div class="align-center align-between pb20">
    <h2>Common LookUp</h2>
    <div class="btnDiv">
        <a onclick="createcommonlookup()">+ Add CommonLookUp</a>
    </div>
</div>
@*<h3><button type="button" class="btn btn-success" onclick="createcommonlookup()"><i class="glyphicon glyphicon-plus"></i>Add</button></h3>
    <hr>*@

@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <span class="glyphicon glyphicon-saved"></span>
        @*<strong>Success..!</strong>*@
        @TempData["AlertMessage"]
    </div>}

@if (@TempData["DeleteMessage"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-trash"></span>
        @TempData["DeleteMessage"]
        <button type="button" class="close" data-dismiss="alert">
        </button>
    </div> }


@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<div class="container">
    <div class="row">

        @(
        Html.Kendo().Grid(Model).Name("Commongrid").Columns(columns => {
        columns.Bound(expression: c => c.ConfigName);
        columns.Bound(expression: c => c.ConfigKey);
        columns.Bound(expression: c => c.ConfigValue);
        columns.Bound(expression: c => c.DisplayOrder);
        columns.Bound(expression: c => c.Description);
        columns.Bound(expression: c => c.IsActive);

            columns.Command(c =>{ c.Custom("Edit").Click("editclup");
            c.Custom("Delete").Click("DeleteModal");}).Title("Action");


       @* columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Edit", "CommonLookUp") + "/#=Id#' class='btn btn-primary'  " + ">Edit</a>" + " | " + "<a href='" + Url.Action("Delete", "CommonLookUp") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure....?\")'>  Delete </a>")
                       .Title("Action").Filterable(false);*@

        }).ToolBar(toolbar =>
        {
        toolbar.Template(@<text>
                    <div class="toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                    @*<span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </text>);
        })
        .Sortable()
        .Scrollable()
        .Filterable()
        .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
        .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("CommonLookUpGrid", "CommonLookUp"))
        .Model(model => model.Id(p => p.Id)))
    )

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#Commongrid').data('kendoGrid').dataSource.read();
        $('#Commongrid').data('kendoGrid').refresh();

        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            grid = $("#Commongrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "ConfigName",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "ConfigValue",
                            operator: "contains",
                            value: value
                        },
                    ]
                });
            } else {
                grid.dataSource.filter({});
            }
        });
    });
</script>



@*<table id="example" class="table table-striped table-bordered" style="width:100%">
    <tr>
        <th>
            SNo.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Action</th>
    </tr>
*@ @* @{ int count = 0;}

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{count += 1; }
                    @count
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ConfigName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfigKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfigValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <button id="@item.Id" type="button" class="btn btn-primary" onclick="editclup(this)"><i class="glyphicon glyphicon-pencil"></i></button> |
                    <a href="@Url.Action("Delete", "CommonLookUp", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure? @item.ConfigName')"><i class=" glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
    </table>*@





<div class="createPopupModalForm ">
    <div class="modal" id="addmodal" data-url='@Url.Action("Create","CommonLookUp")'></div>
</div>
<script type="text/javascript">
    function createcommonlookup() {
        var url = $('#addmodal').data('url');
        $.get(url, function (data) {
            $("#addmodal").html(data);
            $("#addmodal").modal('show');
        });
    }
</script>




<div id="EditModal">
    <div class="modal" id="modaledit" data-url='@Url.Action("Edit","CommonLookUp")'></div>
</div>
<script type="text/javascript">
    function editclup(e) {
        var selectedId = this.dataItem($(e.currentTarget).closest("tr"));
        var id = selectedId.Id;
        $.ajax({
            url: '@Url.Action("Edit","CommonLookUp")',
            type: "Get",
            data: { 'id': id },
            success: function (data) {
                $("#modaledit").html(data);
                $("#modaledit").modal('show');
            }
        });
    }
</script>
<div id="DeleteModal">
    <div class="modal" id="modaledit" data-url='@Url.Action("Delete","CommonLookUp")'></div>
</div>
<script>
    function DeleteModal(e) {
        var selectedId = this.dataItem($(e.currentTarget).closest("tr")).Id;
        if (confirm("Are You Sure. You Want To Delete.?") == true) {
            $.ajax({
                url: '@Url.Action("Delete","CommonLookUp")',
                data: { 'id': selectedId},
                type: "post",
                success: function (savingStatus) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
    }
</script>
