@model IEnumerable<CRMS.Core.Models.CommonLookUp>
@using CRMS.Core.ViewModel

@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <span class="glyphicon glyphicon-saved"></span>

        @TempData["AlertMessage"]
    </div>}

@if (@TempData["DeleteMessage"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-trash"></span>
        @TempData["DeleteMessage"]
        <button type="button" class="close" data-dismiss="alert">
        </button>
    </div>}
<script src="~/Scripts/bootstrap.min.js"></script>
<div id="EditModal">
    <div class="modal" id="modaledit" data-url='@Url.Action("Edit","CommonLookUp")'></div>
</div>
<div id="DeleteModal">
    <div class="modal" id="modaledit" data-url='@Url.Action("Delete","CommonLookUp")'></div>
</div>
<script type="text/javascript">
    function editclup(e) {
        var id = e;
        $.ajax({
            url: '@Url.Action("Edit","CommonLookUp")',
            type: "Get",
            data: { 'id': id },
            success: function (data) {
                $("#modaledit").html(data);
                $("#modaledit").modal('show');
            }
        });
    }

    function DeleteModal(e) {
        var selectedId = e;
        if (confirm("Are You Sure. You Want To Delete.?") == true) {
            $.ajax({
                url: '@Url.Action("Delete","CommonLookUp")',
                data: { 'id': selectedId},
                type: "post",
                success: function (savingStatus) {
                    //location.reload();
                    location.href = "@Url.Action("Index","Home")";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
    }
</script>
<div class="section" style="background-color: #efefef; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px">
    <div class="container">
        <div class="align-center align-between pb20">
            <h2>Common LookUp</h2>
            @if (CRMS.Core.ViewModel.CheckRoleRights.Insert == true)
            {
                <button class="btnDiv">
                    <a onclick="createcommonlookup()">+ Add CommonLookUp</a>
                </button>
            }
        </div>
        <div class="row">

            @(
            Html.Kendo().Grid(Model).Name("Commongrid").Columns(columns => {
            columns.Bound(expression: c => c.ConfigName);
            columns.Bound(expression: c => c.ConfigKey);
            columns.Bound(expression: c => c.ConfigValue);
            columns.Bound(expression: c => c.DisplayOrder);
            columns.Bound(expression: c => c.Description);
            @*columns.Bound(expression: c => c.IsActive);*@

            columns.Bound(p => p.IsActive)
            .Title("Active")
            .Width(90)
            .ClientTemplate(
            "# if (IsActive) { #" +
            "<div class=\"img-circle\" style=\"display: flex; justify-content: center; align-items: center;\"><img src=\"/Content/image/check.png\" alt=\"editok\" width=\"22\"></div>" +
            "# } else { #" +
            "<div class=\"\" style=\"display: flex; justify-content: center; align-items: center;\"><img src=\"/Content/image/close.png\" alt=\"edit\" width=\"22\"></div>" +
            "# } #"
            );
            if (CheckRoleRights.Edit || CheckRoleRights.Delete)
            {
                columns.Bound(p => p.Id).ClientTemplate(
                 "#if ('" + CheckRoleRights.Edit + "'=='True') {#"
                 + " <a onclick='editclup(\"#=Id#\")'class='btn btn-primary' '><i class='glyphicon glyphicon-pencil'></i></a>"
                 + "#}#"
                 + "#if ('" + CheckRoleRights.Delete + "'=='True') {#"
                 + " | <a onclick='DeleteModal(\"#=Id#\")'class='btn btn-danger' '><i class='glyphicon glyphicon-trash'></i></a>"
                 + "#}#"
                 ).Width(120).Title("Action").Filterable(false);
            }

            }).ToolBar(toolbar =>
            {
            toolbar.Template(@<text>
                        <div class="toolbar">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                        <input type="text" class="form-control" id='commonFieldFilter' placeholder="Search for...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </text>);
            })
           @* .HtmlAttributes(new { style = "height:360px;" })*@
            .NoRecords("No record found")
            .Sortable()
            .Scrollable()
            .Filterable()
            .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
            .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("CommonLookUpGrid", "CommonLookUp"))
            .Model(model => model.Id(p => p.Id)))
        )
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#commonFieldFilter").keyup(function () {

            var value = $("#commonFieldFilter").val();
            grid = $("#Commongrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "ConfigName",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "ConfigKey",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "ConfigValue",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Description",
                            operator: "contains",
                            value: value
                        },
                    ]
                });
            } else {
                grid.dataSource.filter({});
            }
        });
    });
</script>

<div class="createPopupModalForm ">
    <div class="modal" id="addmodal" data-url='@Url.Action("Create","CommonLookUp")'></div>
</div>
<script type="text/javascript">
    function createcommonlookup() {
        var url = $('#addmodal').data('url');
        $.get(url, function (data) {
            $("#addmodal").html(data);
            $("#addmodal").modal('show');
        });
    }
</script>
