@model IEnumerable<CRMS.Core.Models.CommonLookUp>

@{
    ViewBag.Title = "Index";
}

<h2>Common LookUp</h2>

<div class="modal fade" role="dialog" id="CommonLookModal" aria-labelledby="CommonLookModalLabel" aria-hidden="true">
    <div class=" modal-dialog" role="document">
        <div class="modal-content" id="commonLookBody"></div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"></script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }

    th {
        font-size: 120%;
        background: #d25f67;
        color: aliceblue;
    }
</style>

@*<button type="button" class="btn btn-success" id="clup"><i class="glyphicon glyphicon-plus"></i> Add </button>*@
<button type="button" class="btn btn-sm btn-primary" onclick="createcommonlookup()"><i class="glyphicon glyphicon-plus"></i>
    Add
</button>

<hr>
@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        @*<strong>Success..!</strong>*@
        @TempData["AlertMessage"]
       @* <button type="button" class="close" data-dismiss="alert">
        </button>*@
    </div>  }

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <tr>
        <th>
            SNo.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Action</th>
    </tr>
    @{ int count = 0;}

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{count += 1; }
                @count
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <button id="@item.Id" type="button" class="btn btn-primary" onclick="editclup(this)"><i class="glyphicon glyphicon-pencil"></i></button> |
                <a href="@Url.Action("Delete", "CommonLookUp", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure? @item.ConfigName')"><i class=" glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }
</table>





<div class="createPopupModalForm ">
<div class="modal" id="modal" data-url='@Url.Action("Create","CommonLookUp")'></div>
</div>
<script type="text/javascript">
         function createcommonlookup() {
            $.ajax({
                url: '@Url.Action("Create","CommonLookUps")',
                type: "Get",
                success: function (data) {
                    $("#createPopupModalForm").html(data);
                    $("#addmodal").modal('show');
                }
            });
        }



       @* $(document).ready(function () {
            $('#clup').click(function () {
                var url = $('#modal').data('url');
                $.get(url, function (data) {
                    $("#modal").html(data);
                    $("#modal").modal('show');
                });
            });
        });*@
</script>




<div id="EditModal">
    <div class="modal" id="modaledit" data-url='@Url.Action("Edit","CommonLookUp")'></div>
</div>
<script type="text/javascript">

    function editclup(data) {

        var id = $(data).attr('id')
        $.ajax({
            url: '@Url.Action("Edit","CommonLookUp")',
            type: "Get",
            data: { 'id': id },
            success: function (data) {
                $("#EditModal").html(data);
                $("#modaledit").modal('show');
            }
        });
    }
</script>