@model IEnumerable<CRMS.Core.ViewModel.CommonLookUpViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Common LookUp</h2>




<h3><button type="button" class="btn btn-success" onclick="createcommonlookup()"><i class="glyphicon glyphicon-plus"></i>Add</button></h3>
<hr>

@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <span class="glyphicon glyphicon-saved"></span>
        @*<strong>Success..!</strong>*@
        @TempData["AlertMessage"]
    </div>}

@if (@TempData["DeleteMessage"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-trash"></span>
        @TempData["DeleteMessage"]
        <button type="button" class="close" data-dismiss="alert">
        </button>
    </div>  }

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>

<div class="container">
    <div class="row">

        @(
            Html.Kendo().Grid(Model).Name("CommonLookUpGrid").Columns(columns => {
            columns.Bound(expression: c => c.ConfigName);
            columns.Bound(expression: c => c.ConfigKey);
            columns.Bound(expression: c => c.ConfigValue);
            columns.Bound(expression: c => c.DisplayOrder);
            columns.Bound(expression: c => c.Description);
            columns.Bound(expression: c => c.IsActive);

            columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            }).Title("Action");
          @*  columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Delete", "CommonLookUp") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure....?\")'>  Delete </a>")
                               .Title("Action").Filterable(false);*@
            }).ToolBar(toolbar =>
            {
            toolbar.Template(@<text>
                    <div class="toolbar">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" id='FieldFilter' placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </text>);                
          })
          .Editable(ed => ed.Mode(GridEditMode.PopUp))
          .Sortable()
          .Scrollable()
          .Filterable()
          .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
          .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("CommonLookUpGrid", "CommonLookUp"))
          .Update(update => update.Action("Edit","CommonLookUp"))
          .Destroy(delete => delete.Action("Delete", "CommonLookUp"))
          .Model(model => model.Id(p => p.Id)))

     )
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#CommonLookUpGrid').data('kendoGrid').dataSource.read();
        $('#CommonLookUpGrid').data('kendoGrid').refresh();

        $("#FieldFilter").keyup(function () {

            var value = $("#FieldFilter").val();
            grid = $("#CommonLookUpGrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({ field: "ConfigName", operator: "contains", value: value });                
            } else {
                grid.dataSource.filter({});
            }
        });
    });
</script>



        @*<table id="example" class="table table-striped table-bordered" style="width:100%">
            <tr>
                <th>
                    SNo.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConfigName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConfigKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConfigValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Action</th>
            </tr>*@
        @* @{ int count = 0;}

            @foreach (var item in Model)*@
        <!--{
            <tr>
                <td>-->
        @*@{count += 1; }
            @count*@
        <!--</td>-->
        @*<td>
                @Html.DisplayFor(modelItem => item.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigKey)
            </td>*@
        @*<td>
                @Html.DisplayFor(modelItem => item.ConfigValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>*@
        @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>*@
        @* <td>
            <button id="@item.Id" type="button" class="btn btn-primary" onclick="editclup(this)"><i class="glyphicon glyphicon-pencil"></i></button> |
            <a href="@Url.Action("Delete", "CommonLookUp", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure? @item.ConfigName')"><i class=" glyphicon glyphicon-trash"></i></a>*@
        @*           </td>
                    </tr>
                }
            </table>*@





        <div class="createPopupModalForm ">
            <div class="modal" id="addmodal" data-url='@Url.Action("Create","CommonLookUp")'></div>
        </div>
        <script type="text/javascript">
            function createcommonlookup() {
                var url = $('#addmodal').data('url');
                $.get(url, function (data) {
                    $("#addmodal").html(data);
                    $("#addmodal").modal('show');
                });
            }
        </script>




        <div id="EditModal">
            <div class="modal" id="modaledit" data-url='@Url.Action("Edit","CommonLookUp")'></div>
        </div>
        <script type="text/javascript">

    function editclup(data) {

        var id = $(data).attr('id')
        $.ajax({
            url: '@Url.Action("Edit","CommonLookUp")',
            type: "Get",
            data: { 'id': id },
            success: function (data) {
                $("#modaledit").html(data);
                $("#modaledit").modal('show');
            }
        });
    }
        </script>
