<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/Custom.js"></script>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Systems </title>
    <style>
        h1 {
            color: white;
        }

        .align-center {
            text-align: center;
        }        
    </style>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="align-center align-between">
                <div class="align-center">
                    <div class="logoDiv"> <a href="@Url.Action("Index","Home")"> <img src="~/Content/image/logo.svg" alt="CRB Logo"> </a> </div>
                    <div class="menuDiv">
                        <ul id="my-list" class="align-center">
                            <li>@Html.ActionLink("System", "Index", "Home")</li>
                            @*<li>@Html.ActionLink("Conference", "Index", "ConferenceRoomManage")</li>*@
                            @*<li class="active"> @Html.ActionLink("Systems", "Index", "Home")</li>*@
                            @*<li> @Html.ActionLink("Systems", "Index", "Home")</li>*@
                            @*<li> @Html.ActionLink("Form", "Index", "FormMst")</li>*@                                                     
                        </ul>
                    </div>
                </div>
                <div class="userInfo">
                    <div class="align-center">
                        <div class="userProfile">
                            @{
                                string Name = Session["UserName"].ToString();
                                char firstLetter = Name[0];
                            }
                            <h1>@firstLetter</h1>
                        </div>
                        <div class="userName align-center">
                            <span>@Session["UserName"] </span>
                            <i> <img src="~/Content/image/down-arrow.svg" alt="Dropdown Icon"> </i>
                            <div class="userInfoDiv">
                                <div class="userInfoBox">
                                    <a href="#">Profile</a>
                                    <a href="#">Settings</a>                                    
                                    <a>@Html.ActionLink("LogOut", "LogOut", "Account")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
@RenderSection("scripts", required: false)

@*Kendo*@
@Styles.Render("~/bundles/kendoCss")
@Scripts.Render("~/bundles/kendoJs")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")

<script>
    function result() {        
        $(".dropdown").hover(
            function () {
                $(this).find(".dropdown-menu").stop(true, true).fadeIn("fast");
            },
            function () {
                $(this).find(".dropdown-menu").stop(true, true).fadeOut("fast");
            }
        );
    }

    $(document).ready(function() {
      $.ajax({
        url: '@Url.Action("GetFormLists","FormMst")',
        type: "GET",
        dataType: "json",
          success: function (data) {
              var result = data.filter(x => x.ParentFormId == null);
              $.each(result, function (index, item) {
                  var dropdown = data.filter(x => x.ParentFormId == item.Id);
                  if (dropdown.length == 0) {

                      $("<li><a href='" + item.NavigateURL + "'>" + item.Name + "</a></li>").appendTo("#my-list");
                  }
                  else {
                      //var li = $("<a class='popout' href='#'>" + item.Name + "</a>").appendTo(".dropdown");

                      var li = $('<li class="dropdown"><a onmouseover="result()" class="popout" href="#"> ' + item.Name + '<i><img style="padding: 0 4px 0 4px" src="/Content/image/down-arrow.svg"></i></a></li>)').appendTo("#my-list");
                      var ul = $("<ul class='level2 dropdown-menu userInfoDiv'></ul>").appendTo(li);
                      var result = data.filter(x => x.ParentFormId == item.Id);
                      $.each(result, function (i, child) {
                          $("<li><a href='" + child.NavigateURL + "'>" + child.Name + "</a></li>").appendTo(ul);
                      });
                  }
              });
          },
          error: function (xhr, status, error) {
            console.log(error);
          }
      });    
    });
</script>