<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Systems </title>

    <link rel="stylesheet" href="css/style.css">



    <script src="~/Content/Custom.js"></script>
    @RenderSection("scripts", required: false)

    @*Kendo*@
    @Styles.Render("~/bundles/kendoCss")
    @Scripts.Render("~/bundles/kendoJs")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/style.css" rel="stylesheet" />


    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @* <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
</head>
<body>
    <div class="mainDiv">
        <!-- Header -->
        <div class="header">
            <div class="container">
                <div class="align-center align-between">
                    <div class="align-center">
                        <div class="logoDiv"> <a href="#"> <img src="~/Content/image/logo.svg" alt="CRB Logo"> </a> </div>

                        <div class="menuDiv">
                            <ul class="align-center">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Conference", "Index", "ConferenceRoomManage")</li>
                                <li class="active"> <a href="#"> Systems  </a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="userInfo">
                        <div class="align-center">
                            <div class="userProfile">

                            </div>
                            <div class="userName align-center">
                                <span>@Session["UserName"] </span>
                                <i> <img src="~/Content/image/down-arrow.svg" alt="Dropdown Icon"> </i>
                                <div class="userInfoDiv">
                                    <div class="userInfoBox">
                                        <a href="#">Profile</a>
                                        <a href="#">Settings</a>
                                        @*<a href="login.html">LogOut</a>*@
                                        <a>@Html.ActionLink("LogOut", "LogOut", "Account")</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- END Header -->
        <!-- Section -->
        <div class="section">
            <div class="container">
                <div class="topTitleHead pb20">
                    <h1> Systems</h1>
                </div>

                <!----- Tabs ---->
                <div class="tab">
                    <ul class="align-center">
                        <li> <a class="tablinks active" onclick="openSystems(event, 'UserManagement')"> User Management </a></li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'RoleManagement')"> Role Management</a> </li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'Settings')">Settings </a> </li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'Activitylogs')">Activity logs </a> </li>
                        <li> <a class="tablinks" onclick="openSystems(event, 'Errorlogs')">Error logs </a> </li>
                    </ul>
                </div>

                <div class="tabContentDetails">
                    <div id="UserManagement" class="tabcontent" style="display: block">
                        @Html.Partial("~/Views/UserManage/_ListPartialView.cshtml")
                    </div>
                    <div id="RoleManagement" class="tabcontent">
                        @Html.Partial("~/Views/Role/_RoleListLayout.cshtml")
                    </div>
                    <div id="CommonLookUp" class="tabcontent">
                        @Html.Partial("~/Views/CommonLookUp/_CommonListLayout.cshtml")
                    </div>
                    <div id="Settings" class="tabcontent">
                        <div class="align-center align-between pb20">
                            <h2>Settings</h2>
                            <div class="btnDiv">
                                <a href="#">+ Add Setting</a>
                            </div>
                        </div>
                        <div class="tableDiv">
                            <table>
                                <thead>
                                    <tr>
                                        <th> Config Key </th>
                                        <th> Config Name</th>
                                        <th> Config Value</th>
                                        <th class="text-center" style="width: 12%;"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> aws Key  </td>
                                        <td> aws </td>
                                        <td> 153 </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> token  </td>
                                        <td> refresh token </td>
                                        <td> 134 </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Activitylogs" class="tabcontent">
                        <div class="align-center align-between pb20">
                            <h2>Activity logs</h2>
                        </div>
                        <div class="tableDiv">
                            <table>
                                <thead>
                                    <tr>
                                        <th> User Name </th>
                                        <th> Url</th>
                                        <th> Http Method </th>
                                        <th> Http  Status </th>
                                        <th> Excution Time </th>
                                        <th class="text-center" style="width: 12%;"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Processing"> Processing  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Failed"> Failed  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Processed"> Processed  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv New"> New  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Errorlogs" class="tabcontent">
                        <div class="align-center align-between pb20">
                            <h2>Error logs</h2>
                        </div>
                        <div class="tableDiv">
                            <table>
                                <thead>
                                    <tr>
                                        <th> User Name </th>
                                        <th> Url</th>
                                        <th> Http Method </th>
                                        <th> Http  Status </th>
                                        <th> Excution Time </th>
                                        <th class="text-center" style="width: 12%;"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> -  </td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>
                                            <div class="statusDiv Failed"> Failed  </div>
                                        </td>
                                        <td> - </td>
                                        <td>
                                            <div class="actionIcon">
                                                <a href="#"> <i> <img src="~/Content/image/edit.svg" alt="Edit icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/key.svg" alt="Key icon"> </i> </a>
                                                <a href="#"> <i> <img src="~/Content/image/trash.svg" alt="Delete icon"> </i> </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!----- END Tabs ---->



            </div>
        </div>
        <!-- END Section -->


    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - CRMS</p>
            </footer>*@
    </div>
</body>
</html>
<script>
    function openSystems(evt, SystemsName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(SystemsName).style.display = "block";
        evt.currentTarget.className += " active";
        @*if (SystemsName = 'RoleManagement') {
        @Html.Partial("~/Views/Role/_RoleListLayout.cshtml")
        }*@
    }
</script>
