@using Kendo.Mvc.UI
@model IEnumerable<CRMS.Core.Models.Role>
@using CRMS.Core.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <span class="glyphicon glyphicon-saved"></span>
        @TempData["AlertMessage"]
    </div>  }

@if (@TempData["DeleteMessage"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-trash"></span>
        @TempData["DeleteMessage"]
    </div>  }

<div class="section">
    <div class="container">
        <div class="align-center align-between pb20">
            <h2>Role</h2>
            @if (CRMS.Core.ViewModel.CheckRoleRights.Insert == true)
            {
                <div class="btnDiv">
                    <a href="@Url.Action("Create", "Role")">+ Add Role</a>
                </div>
            }
        </div>

        <div class="row">

            @(
                Html.Kendo().Grid(Model).Name("Rolegrid").Columns(columns => {
                columns.Bound(expression: c => c.RoleName);
                columns.Bound(expression: c => c.Code);

              @*  columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Edit", "Role") + "/#=Id#' class='btn btn-primary'  " + "><i class='glyphicon glyphicon-pencil'></i></a>" + " | " + "<a href='" + Url.Action("Delete", "Role") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure....?\")'><i class='glyphicon glyphicon-trash'></i></a>" + " | " + "<a href='" + Url.Action("Index", "FormRoleMapping") + "/#=Id#' class='btn btn-info'  " + "><i class='glyphicon glyphicon-cog'></i></a>")
                                   .Title("Action").Filterable(false);*@

                    if (CheckRoleRights.Edit || CheckRoleRights.Delete)
                    {
                        columns.Bound(p => p.Id).ClientTemplate(
                       "#if ('" + CRMS.Core.ViewModel.CheckRoleRights.Edit + "'=='True') {#"
                       + " <a href='" + Url.Action("Edit", "Role") + "/#=Id#'class='btn btn-primary'><i class='glyphicon glyphicon-pencil'></i></a>"
                       + "#}#"

                       + "#if ('" + CRMS.Core.ViewModel.CheckRoleRights.Delete + "'=='True') {#"
                       + " | <a href='" + Url.Action("Delete", "Role") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure..?\")'><i class='glyphicon glyphicon-trash'></i></a>"
                       + "#}#"

                       + "#if ('" + CRMS.Core.ViewModel.CheckRoleRights.Edit + "'=='True') {#"
                       + " | <a href='" + Url.Action("Index", "FormRoleMapping") + "/#=Id#'class='btn btn-info'><i class='glyphicon glyphicon-cog'></i></a>"
                       + "#}#"
                       ).Width(200).Title("Action").Filterable(false);
                    }
                }).ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
                            <div class="toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                            <input type="text" class="form-control" id='RoleFieldFilter' placeholder="Search for...">
                                            @*<span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                            </span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </text>);
                })
                @*.HtmlAttributes(new { style = "height:320px;" })*@
                .NoRecords("No record found")
                .Sortable()
                .Scrollable()
                .Filterable()
                .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
                .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("RoleGrid", "Role"))
                .Model(model => model.Id(p => p.Id)))
             )
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {      
        $("#RoleFieldFilter").keyup(function () {

            var value = $("#RoleFieldFilter").val();
            grid = $("#Rolegrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "RoleName",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Code",
                            operator: "contains",
                            value: value
                        },
                    ]
                });
            } else {
                grid.dataSource.filter({});
            }
        });
    });
</script>
