@using Kendo.Mvc.UI

@model IEnumerable<CRMS.Core.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="align-center align-between pb20">
    <h2>Role</h2>
    <div class="btnDiv">
        <a href="@Url.Action("Create", "Role")">+ Add Role</a>
    </div>
</div>

@*<h3>
    <a href="@Url.Action("Create", "Role")" class="btn btn-success"><i class=" glyphicon glyphicon-plus">Add</i></a>
</h3>*@


@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <span class="glyphicon glyphicon-saved"></span>
        @TempData["AlertMessage"]
    </div>  }

@if (@TempData["DeleteMessage"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-trash"></span>
        @TempData["DeleteMessage"]
    </div> }

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>

<div class="container">
    <div class="row">

        @(
        Html.Kendo().Grid(Model).Name("Rolegrid").Columns(columns => {
        columns.Bound(expression: c => c.RoleName);
        columns.Bound(expression: c => c.Code);

        columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Edit", "Role") + "/#=Id#' class='btn btn-primary'  " + ">Edit</a>" + " | " + "<a href='" + Url.Action("Delete", "Role") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure....?\")'>  Delete </a>")
                           .Title("Action").Filterable(false);

        }).ToolBar(toolbar =>
            {
            toolbar.Template(@<text>
                    <div class="toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" id='RoleFieldFilter' placeholder="Search for...">
                                    @*<span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </text>);
        })
        .Sortable()
        .Scrollable()
        .Filterable()
        .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
        .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("RoleGrid", "Role"))
        .Model(model => model.Id(p => p.Id)))
    )

    </div>
</div>

<script>
    $(document).ready(function () {
       @* $('#Rolegrid').data('kendoGrid').dataSource.read();
        $('#Rolegrid').data('kendoGrid').refresh();*@

        $("#RoleFieldFilter").keyup(function () {

            var value = $("#RoleFieldFilter").val();
            grid = $("#Rolegrid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "RoleName",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Code",
                            operator: "contains",
                            value: value
                        },
                    ]
                });
            } else {
                grid.dataSource.filter({});
            }
        });
    });
</script>

@*  .Sortable()
    .Scrollable()
    .Pageable()
    .Pageable(pageable => pageable.Refresh(true))
    .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("Grid", "Role"))
    .PageSize(10).Model(model => model.Id(expression: p => p.Id)))*@


@*<table class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>
                SNo.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>Action</th>
        </tr>
        @{ int count = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{count += 1; }
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>

                    <a href="@Url.Action("Edit", "Role", new { id = item.Id })" class="btn btn-primary"><i class=" glyphicon glyphicon-pencil"></i></a> |

                    <a href="@Url.Action("Delete", "Role", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure? @item.RoleName')"><i class=" glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }

    </table>*@

