@model CRMS.Core.ViewModel.RoleViewModel

<br/>
<br/>
<br/>
<br/>
@if (@TempData["Already"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        @TempData["Already"]
    </div>}


<html>
<head>
    <title></title>
</head>
<body>
    <div class="section" style="background-color: #efefef;  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "errorMsg" })
                <div class="formDiv">
                    <div class="topTitleHead pb20">
                        <h2> Add Role</h2>
                        <a class="backbtnCR" href="javascript:history.go(-1);"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>
                    </div>
                    <div class="formSection">
                        <div class="inputBox">
                            <label>RoleName</label>
                            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "errorMsg" })
                        </div>
                        <div class="inputBox">
                            <label>Code</label>
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "errorMsg" })
                        </div>
                        <div class="inputBox">
                            <button type="submit" value="Create" class="btnDiv">Create</button>
                        </div>
                    </div>
                </div>
            }
            <!--<div>
                <div class="btn" style="background: #d9534f">
                    <a style="color:white" href="javascript:history.go(-1);">Cancel</a>
                </div>-->
                @* @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })*@
            <!--</div>-->
        </div>
    </div>
</body>
</html>