@model CRMS.Core.ViewModel.RoleViewModel

@{
    ViewBag.Title = "Create";
}

@if (@TempData["Already"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        @TempData["Already"]
    </div>}


<html>
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mainDiv">
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <!----- Form ---->
                    @Html.ValidationSummary(true, "", new { @class = "errorMsg" })
                    <div class="formDiv">
                        <div class="topTitleHead pb20">
                            <h2> Add Role</h2>
                        </div>
                        <div class="formSection">
                            <div class="inputBox">
                                <label>RoleName</label>
                                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "errorMsg" })                               
                            </div>
                            <div class="inputBox">
                                <label>Code</label>
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "errorMsg" })                               
                            </div>
                            <div class="inputBox">
                                <button type="submit" value="Create" class="btnDiv">Create</button>                                                                  
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    }
    <div>
        <div class="btn btn-info">
            <a style="color:white" href="javascript:history.go(-1);">Back</a>
        </div>


        @* @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })*@
    </div>
</body>
</html>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @* <h4>Role</h4>*@
@*<hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>

        </div>

    }*@