@using Kendo.Mvc.UI
@model IEnumerable<CRMS.Core.ViewModel.IndexViewModel>
@using CRMS.Core.ViewModel


<div class="align-center align-between pb20">
    <h2>User Management</h2>
    @if (CRMS.Core.ViewModel.CheckRoleRights.Insert == true)
    {
        <div class="btnDiv">
            <a href="@Url.Action("Create", "UserManage")">+ Add User</a>          
        </div>
    }
 </div>


@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <span class="glyphicon glyphicon-saved"></span>
        @TempData["AlertMessage"]
    </div>}

@if (@TempData["DeleteMessage"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-trash"></span>
        @TempData["DeleteMessage"]
    </div>}


@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>


@(
    Html.Kendo().Grid(Model).Name("UserGrid").Columns(columns => {
        columns.Bound(expression: c => c.Name);
        columns.Bound(expression: c => c.Email);
        columns.Bound(expression: c => c.UserName);
        columns.Bound(expression: c => c.Role);
        columns.Bound(expression: c => c.Gender);
        columns.Bound(expression: c => c.MobileNo);
       @* columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Edit", "UserManage") + "/#=Id#' class='btn btn-primary'  " + "><i class='glyphicon glyphicon-pencil'></i></a>" + " | " + "<a href='" + Url.Action("Delete", "UserManage") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure....?\")'> <i class='glyphicon glyphicon-trash'></i> </a>")
                       .Title("Action").Filterable(false);*@

        if (CheckRoleRights.Edit || CheckRoleRights.Delete)
        {
            columns.Bound(p => p.Id).ClientTemplate(
             "#if ('" + CRMS.Core.ViewModel.CheckRoleRights.Edit + "'=='True') {#"
             + " <a href='" + Url.Action("Edit", "UserManage") + "/#=Id#'class='btn btn-primary'><i class='glyphicon glyphicon-pencil'></i></a>"
             + "#}#"
             + "#if ('" + CRMS.Core.ViewModel.CheckRoleRights.Delete + "'=='True') {#"
             + " | <a href='" + Url.Action("Delete", "UserManage") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure..?\")'><i class='glyphicon glyphicon-trash'></i></a>"

             + "#}#"
             ).Width(200).Title("Action").Filterable(false);
        }

    }).ToolBar(toolbar =>
    {
    toolbar.Template(@<text>
                    <div class="toolbar">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" id='UserFieldFilter' placeholder="Search for...">
                                    @*<span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </text>);
    })
    .NoRecords("No record found")
    .Sortable()
    .Scrollable()
    .Filterable()
    .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
    .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("UserGrid", "UserManage"))
    .Model(model => model.Id(p => p.Id)))
    )


<script>
    $(document).ready(function () {
       @* $('#UserGrid').data('kendoGrid').dataSource.read();
        $('#UserGrid').data('kendoGrid').refresh();*@

        $("#UserFieldFilter").keyup(function () {
            var value = $("#UserFieldFilter").val();
            grid = $("#UserGrid").data("kendoGrid");

           @* if (value) {
                grid.dataSource.filter({ field: "Name", operator: "contains", value: value });
            }*@
            if (value) {
                grid.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "Name",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Email",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "UserName",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Role",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Gender",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "MobileNo",
                            operator: "contains",
                            value: value
                        },
                    ]
                });
            }else {
                grid.dataSource.filter({});
            }
        });
    });
</script>





@*<table class="table table-striped table-bordered" style="width:100%">
    <tr>
        <th>
            SNo.
        </th>*@

@* <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.UserName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Role)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Gender)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MobileNo)
    </th>*@
@*<th>Action</th>
    </tr>*@

@* @{int count = 0; }

    @foreach (var item in Model)
    {*@
@*<tr>
    <td>
        @{count += 1; }
        @count
    </td>*@
@* <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Role)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MobileNo)
    </td>*@
@* <td>

        <a href="@Url.Action("Edit", "UserManage", new { id = item.Id })" class="btn btn-primary"><i class=" glyphicon glyphicon-pencil"></i></a> |
        <a href="@Url.Action("Delete", "UserManage", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure? @item.Name')"><i class=" glyphicon glyphicon-trash"></i></a>
    </td>*@
@*</tr>
        }

    </table>*@
