@using Kendo.Mvc.UI
@model IEnumerable<CRMS.Core.ViewModel.IndexViewModel>
@using CRMS.Core.ViewModel

@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <span class="glyphicon glyphicon-saved"></span>
        @TempData["AlertMessage"]
    </div>}

@if (@TempData["DeleteMessage"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-trash"></span>
        @TempData["DeleteMessage"]
    </div>}

<div class="section">
    <div class="container">
        <div class="align-center align-between pb20">
            <h2>User Management</h2>
            @if (CRMS.Core.ViewModel.CheckRoleRights.Insert == true)
            {
                <div class="btnDiv">
                    <a href="@Url.Action("Create", "UserManage")">+ Add User</a>
                </div>
            }
        </div>

        @(
            Html.Kendo().Grid(Model).Name("UserGrid").Columns(columns => {
            columns.Bound(expression: c => c.Name);
            columns.Bound(expression: c => c.Email);
            columns.Bound(expression: c => c.UserName);
            columns.Bound(expression: c => c.Role);
            columns.Bound(expression: c => c.Gender);
            columns.Bound(expression: c => c.MobileNo);
          
            if (CheckRoleRights.Edit || CheckRoleRights.Delete)
            {
                columns.Bound(p => p.Id).ClientTemplate(
                 "#if ('" + CRMS.Core.ViewModel.CheckRoleRights.Edit + "'=='True') {#"
                 + " <a href='" + Url.Action("Edit", "UserManage") + "/#=Id#'class='btn btn-primary'><i class='glyphicon glyphicon-pencil'></i></a>"
                 + "#}#"
                 + "#if ('" + CRMS.Core.ViewModel.CheckRoleRights.Delete + "'=='True') {#"
                 + " | <a href='" + Url.Action("Delete", "UserManage") + "/#=Id#' class='btn btn-danger'  onclick='return confirm(\"Are you sure..?\")'><i class='glyphicon glyphicon-trash'></i></a>"

                 + "#}#"
                 ).Width(120).Title("Action").Filterable(false);
                }}).ToolBar(toolbar =>
                        {toolbar.Template(@<text>
                            <div class="toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                            <input type="text" class="form-control" id='UserFieldFilter' placeholder="Search for...">                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
            </text>);
        })      
        .NoRecords("No record found")
        .Sortable()
        .Scrollable()
        .Filterable()
        .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
        .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("UserGrid", "UserManage"))
        .Model(model => model.Id(p => p.Id)))
    )

    </div>
</div>
<script>
    $(document).ready(function () {       
        $("#UserFieldFilter").keyup(function () {
            var value = $("#UserFieldFilter").val();
            grid = $("#UserGrid").data("kendoGrid");          
            if (value) {
                grid.dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "Name",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Email",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "UserName",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Role",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "Gender",
                            operator: "contains",
                            value: value
                        },
                        {
                            field: "MobileNo",
                            operator: "contains",
                            value: value
                        },
                    ]
                });
            }else {
                grid.dataSource.filter({});
            }
        });
    });
</script>
