@model IEnumerable<CRMS.Core.ViewModel.IndexViewModel>
<h2>User</h2>
<p>
    @*@Html.ActionLink("Add", "Create", null, new { @class = "btn btn-success" })*@
    <a href="@Url.Action("Create", "UserManage")" class="btn btn-success"><i class=" glyphicon glyphicon-plus">Add</i></a>
</p>
<hr>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }

    th {
        font-size: 120%;
        background: #d25f67;
        color: aliceblue;
    }
    

</style>

@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
     <strong>Success..!</strong>
        @TempData["AlertMessage"]
    <button type="button" class="close" data-dismiss="alert">
       
    </button>
    </div> }



<table class="table table-striped table-bordered" style="width:100%">
    <tr>
        <th>
            SNo.
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>Action</th>
    </tr>

    @{int count = 0; }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{count += 1; }
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |*@
                <a href="@Url.Action("Edit", "UserManage", new { id = item.Id })" class="btn btn-primary"><i class=" glyphicon glyphicon-pencil"></i></a> |
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                <a href="@Url.Action("Delete", "UserManage", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure? @item.Name')"><i class=" glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }

</table>
