@model CRMS.Core.ViewModel.ConferenceRoomViewModel

@if (@TempData["Already"] != null)
{<div class="alert alert-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        @TempData["Already"]
    </div>}
<br />
<br />
<br />

<html>
<head>
    <title></title>
</head>
<body>
    <div class="section" style="background-color: #efefef;  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "errorMsg" })
                <div class="formDiv">
                    <div class="topTitleHead pb20">
                        <h2> Add Conference Room</h2>
                        <a class="backbtnCR" href="javascript:history.go(-1);"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>
                    </div>
                    <div class="formSection">
                        <div class="inputBox">
                            <label>ConferenceRoomNo</label>
                            @Html.EditorFor(model => model.ConferenceRoomNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConferenceRoomNo, "", new { @class = "errorMsg" })
                            @*<p class="errorMsg">This field is required</p>*@
                        </div>
                        <div class="inputBox">
                            <label>Capacity</label>
                            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "errorMsg" })
                            @*<p class="errorMsg">This field is required</p>*@
                        </div>
                        <div class="inputBox">
                            @*<button class="btnDiv">Login</button>*@
                            <button type="submit" value="Create" class="btnDiv">Create</button>
                        </div>
                    </div>
                </div>
            }
            <div>
               @* <a class="backbtn" href="javascript:history.go(-1);"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>*@
                @* @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })*@
            </div>
        </div>
    </div>
</body>
</html>