@model IEnumerable<CRMS.Core.Models.ConferenceRoom>
<br>



<h2>Conference Room</h2>


<h3>
    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary" })
</h3>
<br>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }

    th {
        font-size: 150%;
        background: #d25f67;
        color: aliceblue;
    }
</style>

@if (@TempData["AlertMessage"] != null)
{<div class="alert alert-success">
        <strong>Success..!</strong>
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
        </button>
    </div>  }


<table class="table" style="width:100%">
    <tr>
        <th>SNo.</th>
        <th>
            @Html.DisplayNameFor(model => model.ConferenceRoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>Action</th>
    </tr>

    @{ int count = 0;}

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{count += 1; }
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceRoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |


                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                <a href="@Url.Action("Delete", "ConferenceRoomManage", new { id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure? @item.ConferenceRoomNo')">Delete</a>



            </td>
        </tr>

    }
</table>
@*<script type="text/javascript">

        $(document).on('click', '#delete', function ()
        {
                          var result = confirm("Want to Delete ?");
                           val = $(this).data('Id');
            if (result) {
                               debugger
                                $.ajax({
                                    url: '@Url.Action("Delete", "ConferenceRoomManage")',
                                    data: { data-Id },
                                    type:'post',
                                    success: function (responce) {

                                            window.location = '@Url.Action("Index", "ConferenceRoomManage")'
                                    },
                                });
                           }
        });

    </script>
*@
